@charset "utf-8"
/*---------------在之后的页面的引用中，不需要的可以删除掉-----------------------*/
html{
	color: #000;
	color: #fff;
}
body {
    background:#fff; 
    color:#555;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
p,
blockquote,
th,
td { margin:0; 
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing: 0;
}
em,strong,b,u,i{
	font-style: normal;
	font-weight: normal;
}
ol,ul,li { 
	list-style:none;
}
td,th,caption {
    font-size:14px; 
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal; font-size:100%;
}

input, textarea, select, button {
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   *font-size: 100%;    /*兼容IE*/
}
a {
   color:#555; text-decoration:none; 
}

img { 
	border:0 none;
}
input{
	border: none;
}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }